@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00021b;
  color: #ffffff;
}

.grid-tem-autofit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
